#productos {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "navv" "main" "footer";
}

.menu {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: navv;
}

.contenido {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__descargar {
  width: 30px;
  height: 30px;
}

.introduccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.introduccion__texto {
  width: 50%;
}

.introduccion__texto__h1 {
  font-size: 3rem;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 10%;
  margin-top: 10%;
  color: #033;
}

.introduccion__texto__p {
  font-size: 1.2rem;
  width: 50%;
  margin-left: 17%;
  margin-right: 33%;
  color: #3d3d3d;
}

.introduccion__imagen {
  width: 50%;
  background-color: #033;
}

.introduccion__imagen__img {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 480px;
}

.arg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5%;
}

.transicion {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.transicion:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.arg__h2 {
  font-size: 2rem;
  color: #033;
  text-align: left;
  margin-bottom: 5%;
  margin-left: 1%;
}

.arg__contenedor, .opiniones__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.arg__contenedor__activos {
  width: 350px;
  margin-bottom: 50px;
  margin-top: 5%;
}

.arg__contenedor__activos__h3 {
  text-align: center;
  font-size: 1.5rem;
  color: #033;
}

.arg__contenedor__activos__texto {
  margin-top: 4%;
  text-align: center;
}

.eeuu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10%;
}

.eeuu__h2 {
  font-size: 2rem;
  color: #033;
  text-align: left;
  margin-bottom: 5%;
  margin-left: 1%;
}

.eeuu__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.eeuu__contenedor__activos {
  width: 350px;
  margin-bottom: 50px;
  margin-top: 5%;
}

.eeuu__contenedor__activos__h3 {
  text-align: center;
  font-size: 1.5rem;
  color: #033;
}

.eeuu__contenedor__activos__texto {
  margin-top: 4%;
  text-align: center;
}

.faqs {
  background-color: #033;
  height: 550px;
}

.faqs__h2 {
  font-size: 2rem;
  color: white;
  text-align: left;
  margin-bottom: 5%;
  margin-left: 1%;
  margin-top: 2%;
}

.accordion-item {
  background-color: #033;
}

.accordion-button {
  background-color: #033;
}

.acordion-pregunta {
  color: black;
  font-size: 1.5rem;
}

.acordion-respuesta {
  color: white;
  font-size: 1rem;
}

.footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#033), to(black));
  background-image: linear-gradient(#033, black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 2%;
  padding-bottom: 2%;
}

.footer a {
  color: white;
  text-decoration: none;
  list-style: none;
}

.footer__links {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__links__linea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__links__linea__a {
  width: 49%;
  margin-top: 2%;
  margin-left: 2%;
}

.footer__redes {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__redes_iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__redes__app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 9%;
}

.footer__redes__app__p {
  color: white;
  margin-right: 5%;
}

.footer__redes__app__logo {
  width: 50%;
}

.footer__redes_iconos__logo {
  width: 50%;
}

a {
  text-decoration: none;
  list-style: none;
}

.masVisto {
  background-color: #033;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 5%;
}

.masVisto__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.masVisto__head__encabezado {
  color: white;
  margin-bottom: 2%;
  font-size: 3rem;
}

.masVisto__head__buscador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#buscador {
  width: 100%;
  height: 20px;
}

.masVisto__head__buscador__lupa {
  width: 100%;
  height: 30px;
  margin-left: 60%;
}

.masvisto__h2 {
  text-align: left;
  font-size: 2.5rem;
  margin-left: 1%;
  margin-bottom: 3%;
  color: white;
}

.notasMv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.imagenesNotas {
  width: 100%;
  height: 300px;
}

.invertir__nota {
  color: white;
  font-size: 1.5rem;
}

.trading__nota {
  color: white;
  font-size: 1.5rem;
}

.notasMv__1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
}

.notasMv__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
}

.categoriaNotas {
  color: white;
}

.ultimasNotas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.encabezadoUltimasNotas {
  color: #033;
  text-align: left;
  font-size: 2.5rem;
  margin-left: 1%;
  margin-bottom: 4%;
  margin-top: 2%;
}

.ultimaNota {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 350px;
}

.descripcionNota {
  width: 50%;
}

.titularNota {
  color: black;
  font-size: 1.7rem;
}

#textoDescriptivoNota {
  color: dimgray;
  font-size: 1.2rem;
}

.imagenUltimaNota {
  width: 90%;
  height: 300px;
}

.formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.formulario__encabezado {
  font-size: 3rem;
  color: #033;
  padding-top: 1%;
  margin-left: 1%;
  margin-bottom: 3%;
}

.campo__titulo {
  font-size: 2rem;
  display: block;
  margin-left: 4%;
}

.campo__input {
  width: 80%;
  margin-left: 4%;
}

.formulario__form__enviar {
  background-color: #033;
  color: white;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.personal, .opiniones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5%;
}

.personal__h2, .opiniones__h2 {
  font-size: 2rem;
  color: #033;
  text-align: left;
  margin-bottom: 5%;
  margin-left: 1%;
}

.personal__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.personal__contenedor__usuario {
  width: 320px;
  margin-bottom: 50px;
  margin-top: 5%;
}

.transicion {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.transicion:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.personal__contenedor__usuario__img {
  width: 20%;
  margin-left: 40%;
  margin-right: 35%;
}

.personal__contenedor__usuario__titulo, .opiniones__contenedor__opinion__titulo {
  text-align: center;
  font-size: 1.5rem;
  color: #033;
}

.personal__contenedor__usuario__texto {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 4%;
  text-align: center;
}

.opiniones__contenedor__opinion {
  width: 250px;
  margin-bottom: 50px;
  margin-top: 5%;
}

.opiniones__contenedor__opinion__texto {
  margin-top: 4%;
  text-align: center;
}

@media (max-width: 599px) {
  .introduccion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .introduccion__imagen {
    width: 100%;
    background-color: #033;
  }
  .introduccion__texto {
    width: 100%;
  }
  .introduccion__texto__h1 {
    text-align: center;
  }
  .introduccion__texto__p {
    width: 70%;
    text-align: center;
  }
  .notasMv__1 {
    margin-bottom: 50px;
    width: 300px;
  }
  .notasMv__2 {
    width: 300px;
    margin-bottom: 50px;
  }
  .imagenUltimaNota {
    display: none;
  }
  .descripcionNota {
    text-align: left;
  }
  #textoDescriptivoNota {
    width: 100%;
  }
  .ultimasNotas {
    overflow: scroll;
  }
}

/* TABLET */
@media (min-width: 600px) and (max-width: 1023px) {
  .introduccion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .introduccion__imagen {
    width: 100%;
    background-color: #033;
  }
  .introduccion__texto {
    width: 100%;
  }
  .introduccion__texto__h1 {
    text-align: center;
  }
  .introduccion__texto__p {
    width: 70%;
    text-align: center;
  }
  .notasMv__1 {
    margin-bottom: 50px;
  }
  .imagenUltimaNota {
    display: none;
  }
  .descripcionNota {
    text-align: left;
  }
  #textoDescriptivoNota {
    width: 100%;
  }
  .ultimasNotas {
    overflow: scroll;
  }
}
/*# sourceMappingURL=estilos.css.map */